@media (max-width: 30em) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

  p {
    font-size: 1rem;
    color: var(--clr-grey-5);
  }

  .skills {
    flex-direction: column;
  }

  .skill {
    width: 70%;
    margin: 0 4rem;
  }

  .cards {
    flex-direction: column;
    width: 95%;
  }

  .card {
    width: 70%;
    margin: 0;
    padding: 0;
  }

  .nav {
    position: fixed;
    width: 70%;
    margin: 0 2.5rem;

    /* padding: min(30vh, 10rem); */
    inset: 0 0 0 20%;

    flex-direction: column;
    z-index: 1000;

    background: rgba(16, 21, 9, 0.92);
    backdrop-filter: blur(2rem);

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  header {
    max-height: 70vh;
  }

  .slideshow-container {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .nav[data-visible='true'] {
    transform: translateX(0%);
  }

  .nav a {
    margin: 0;
  }

  .nav li {
    margin: 2rem 0 0 2rem;
  }

  /* Mobile Nav Button */
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 9999;
    background-image: url(../fontawesome-free-5.12.1-web/svgs/solid/hamburger.svg);
    background-repeat: no-repeat;
    color: red;
    background-color: white;
  }

  .mobile-nav-toggle {
    position: fixed;
  }

  .mobile-nav-toggle[aria-expanded='true'] {
    background-image: url(../fontawesome-free-5.12.1-web/svgs/solid/window-close.svg);
  }
  
  .back,
.forward {
  display: none;
}

.skill {
  width: 90%;
  margin: 1rem;
}

.tea-list {
  width: 90%;
  margin: 1rem;
  padding: 0;
}

.description {
  width: 100%;
}

/* Form */
.contact {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: var(--clr-grey-10);
}

.contact-info {
  width: 100%;
  margin: 0;
  padding: 2rem 4rem;
}

.contact-form {
  flex-direction: column;
  width: 100%;
  background-color: var(--clr-white);
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

.form-control {
  width: 90%;
  margin: 1rem 1.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
  background: var(--clr-grey-10);
  border: none;
  text-transform: uppercase;
  color: var(--clr-grey-1);
}
}
